.fotoPortada {
  width: 100%;
  opacity: 0.8;
}

.formContact {
  width: 50%;
  margin: 200px auto;
}

.ubicacionMapFormat {
  width: 800px;
  margin: 350px auto;
}

.ubicacionFondo {
    background-image: url("../img/fondoUbicacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoGenerico {
    background-color: rgba(223, 223, 223, 0.336);
}

.accordionTrabajos {
    width: 60%;
    margin: 250px auto 250px;
}

.cardRow {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.card-text {
    font-weight: bold;
}

.card {
    margin: 50px;
}

.estiloParrafo {
  font-weight: bold;
}