.fotoPortada {
  width: 100%;
  opacity: 0.8;
}

.formContact {
  width: 30%;
  margin: 200px auto;
}

.map {
  width: 800px;
  margin: 100px auto;
}

.accordionTrabajos {
    width: 50%;
    margin: 150px auto;
}

.cardRow {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.card-text {
    font-weight: bold;
}

.card {
    margin: 50px;
}